version: "3.9"

services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - 8000:8000
    environment:
      DJANGO_SETTINGS_MODULE: musika.settings
    depends_on:
      - db
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
      - POSTGRES_PORT: "5432"
      - MUSIKA_DB_NAME: postgres
      - MUSIKA_DB_PASSWORD: postgres
      - MUSIKA_DB_USER: postgres

volumes:
  postgres_data: