<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
</head>
<body>
     <h1>{{ artist }}</h1>

        <ol>
            {% for t in artist.tracks %}
                <li><a href="/lib/track/{{ t.id }}/">{{ t }}</a>
                    <ul>
                        {% for c in t.collections %}
                            <li><a href="/lib/collection/{{ c.id }}/">{{ c.name }}</a></li>
                        {% endfor %}
                     </ul>
                </li>
            {% endfor %}
        </ol>

</body>
</html>