<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Stats</title>
       <h1>
           The Library has
         <a href="/lib/collection_stat/">{{ lib_stat.num_collections }} collections</a>
            Totalling ,
         <a href="/lib/track/">{{ lib_stat.num_tracks }} tracks </a>
           ,
         <a href="/lib/artist/">{{ lib_stat.num_artists }} artists </a>
           , And {{ lib_stat.library.duration }} hours of music.
     </h1>

    <h1>
        <a href="/lib/dt/"> Duplicate Tracks </a>
    </h1>

    <h1>
        <a href="/lib/afl/"> Artist Frequencies </a>
    </h1>

</head>
<body>

</body>
</html>
