<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Stats</title>
    </head>

    <body>

        <h1>Library Stats</h1>
            <ul>
                <li> <a href="/lib/collection_stat/">  Collection Stats </a> </li>
                <li> <a href="/lib/dt/">  Duplicate Tracks </a> </li>
                <li> <a href="/lib/afl/"> Artist Frequency Library </a> </li>
                <li> <a href="/lib/afc/"> Artist Frequency Collection  </a> </li>
                <li> {{ lib_stat.num_artists }} <a href="/lib/artist/"> Artists </a> </li>
                <li> {{ lib_stat.num_tracks }} <a href="/lib/track/"> Tracks </a> </li>
                <li> {{ lib_stat.duration }} of music time </li>
            </ul>
    </body>
</html>
